@import "./reset.css";
@import "../fonts/Stolzl/stolzlStyle.css";
@import "../fonts/Gotham/gothamStyle.css";
body {
  background: #210E09;
  min-width: 1356px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.none {
  display: none;
}

.owl-carousel {
  max-width: 1076px;
}

.btn-position {
  margin: 35px 0 0 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.title-position {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.hr-line {
  opacity: 0.5;
  border-top: 1px solid #FFFFFF;
}

.title-section {
  display: inline-block;
  padding: 10px 20px 7px;
  background: white;
  border-radius: 5px;
}
.title-section__txt {
  font-family: "Gotham Pro", serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #210E09;
}

.heading-position {
  margin: 40px 0 0 0;
}

.heading-section__txt {
  font-family: "Gotham Pro", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__container {
  max-width: 1365px;
  margin: 0 auto;
  padding: 0 30px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 0 0;
}
.header__list {
  display: flex;
}
.header__link {
  font-family: Stolzl, sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.05em;
  line-height: 150%;
  font-weight: 400;
  font-style: normal;
  transition: color 0.15s ease-in;
}
.header__list-item {
  list-style: none;
  padding: 0 15px;
}
.header__link:hover, .header__link:focus {
  color: #D5621D;
}

.button__border {
  padding: 15px 30px;
  border: 2px solid #D5621D;
  border-radius: 5px;
  transition: background-color 0.15s ease-in;
  max-height: 51px;
}
.button__border:hover, .button:focus {
  background: #D5621D;
  border-radius: 5px;
}
.button__txt {
  font-family: Stolzl, sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.05em;
  line-height: 150%;
  font-weight: 400;
}

.announcement__container {
  max-width: 1356px;
  margin: 0 auto;
  padding: 0 30px;
}
.announcement__item-elements {
  margin-top: 53px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.announcement__screen {
  min-width: 856px;
  position: relative;
  margin: 0 24px 0 0;
}
.announcement__screen-img {
  border-radius: 7px;
}
.announcement__frame {
  display: block;
  position: absolute;
  width: 154px;
  height: 44px;
  border-radius: 5px;
  left: 60px;
  bottom: 195px;
  background: #FFFFFF;
  z-index: 9999;
  text-align: center;
}
.announcement__frame-txt {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Gotham Pro", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #210E09;
}
.announcement__title {
  position: absolute;
  width: 423px;
  left: 60px;
  bottom: 45px;
}
.announcement__title-txt {
  font-family: "Gotham Pro", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 150%;
  color: #FFFFFF;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.announcement__ads {
  background: rgba(213, 98, 29, 0.1);
  border-radius: 7px;
  min-width: 416px;
  max-height: 542px;
  font-family: "Gotham Pro", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.announcement__ads-item-txt {
  display: flex;
  align-content: center;
  text-align: center;
}
.announcement__ads-txt {
  width: 50%;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.15s ease-in;
}
.announcement__ads-txt:hover, .announcement__ads-txt:focus {
  color: #D5621D;
}
.announcement__ads-txt_change {
  background: rgba(33, 14, 9, 0.51);
}
.announcement__ads-row-one {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 39px 35px 37px;
}
.announcement__ads-image {
  max-width: 160px;
  max-height: 200px;
}
.announcement__image {
  max-width: 160px;
  max-height: 200px;
}
.announcement__ads-image:nth-child(1), .announcement__ads-image:nth-child(3) {
  margin: 0 0 26px 0;
}

.top-menu__container {
  max-width: 1356px;
  margin: 0 auto;
  padding: 0 30px;
}
.top-menu__elements {
  margin-top: 120px;
}
.top-menu__carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0 0 0;
}
.top-menu__column {
  width: 486px;
}
.top-menu__dish-items {
  display: flex;
  flex-wrap: wrap;
  height: 38px;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  width: 92.5%;
  margin-left: 25px;
}
.top-menu__flex-item-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.top-menu__dish {
  display: flex;
  width: 486px;
  height: 111px;
}
.top-menu__dish:nth-child(-n+3) {
  margin: 0 0 57px 0;
}
.top-menu__weight-dish {
  margin-left: 25px;
}
.top-menu__weight {
  font-family: "Stolzl", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #D5621D;
}
.top-menu__description-dish {
  margin: 10px 0 0 25px;
  min-width: 351px;
}
.top-menu__description {
  font-family: "Stolzl", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.top-menu__name-dish {
  font-family: "Gotham Pro", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.top-menu__column-image {
  min-width: 110px;
  min-height: 110px;
}
.top-menu__image {
  width: 110px;
  height: 110px;
}
.top-menu__prev-btn {
  background: #D5621D;
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
.top-menu__prev-btn:hover {
  background: #d7cdc8;
  border: 2px solid #D5621D;
}
.top-menu__next-btn {
  background: #D5621D;
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
.top-menu__next-btn:hover {
  background: #d7cdc8;
  border: 2px solid #D5621D;
}
.top-menu__btn-direction-img {
  display: block;
  margin: auto;
}
.top-menu__dish-btn-border {
  padding: 6px 20px;
  border: 2px solid #D5621D;
  border-radius: 5px;
  transition: background-color 0.15s ease-in;
}
.top-menu__dish-btn-border:hover, .top-menu__dish-btn-border:focus {
  background: #D5621D;
  border-radius: 5px;
}
.top-menu__dish-btn-border-txt {
  font-family: "Gotham Pro", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.top-menu__btn-all-menu {
  margin: 111px 0 0 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.top-menu__border-btn-menu {
  padding: 15px 30px;
  background: #D5621D;
  border-radius: 5px;
  transition: background-color 0.15s ease-in;
  min-width: 171px;
  color: #FFFFFF;
}
.top-menu__border-btn-menu:hover, .top-menu__border-btn-menu:focus {
  background: #d7cdc8;
  color: #D5621D;
  outline: 2px solid #D5621D;
}
.top-menu__btn-all-txt {
  font-family: "Gotham Pro", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.events-tourists {
  margin: 140px 0 0 0;
}
.events-tourists__container {
  max-width: 1078px;
  margin: 0 auto;
}
.events-tourists__events {
  margin: 0 44px 0 0;
}
.events-tourists__tourists {
  margin: 0 0 0 44px;
}
.events-tourists__elements {
  display: flex;
  justify-content: space-around;
}
.events-tourists__screen-image {
  min-width: 416px;
}
.events-tourists__image {
  border-radius: 7px;
  max-width: 416px;
  max-height: 560px;
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.events-tourists__paragraphs {
  margin: 35px 0 0 0;
  min-width: 376px;
  max-width: 376px;
  max-height: 301px;
  text-align: center;
  font-family: "Stolzl", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.events-tourists__item-paragraph:nth-child(-n+3) {
  margin: 0 0 15px 0;
}

.top-party {
  margin: 150px 0 0 0;
}
.top-party__container {
  max-width: 1296px;
  margin: 0 auto;
}
.top-party__techrider {
  margin: 80px 0 0 0;
}
.top-party__equipment {
  display: flex;
  flex-direction: column;
}
.top-party__equipment-btn {
  background: rgba(213, 98, 29, 0.1);
  border-radius: 5px;
  padding: 20px 40px 0;
  min-height: 67px;
  min-width: 526px;
  transition: background-color 0.15s ease-in;
}
.top-party__equipment-btn:nth-child(n+2) {
  margin: 20px 0 0 0;
}
.top-party__equipment-btn:hover {
  background: #D5621D;
}
.top-party__equipment-name {
  font-family: "Gotham Pro", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.top-party__btn-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
}
.top-party__equipment-txt {
  font-family: "Stolzl", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.top-party__item-li:nth-child(-n+4) {
  margin: 0 0 15px 0;
}
.top-party__item-li:nth-child(5n) {
  margin: 0 0 25px 0;
}
.top-party__equipment-btn .top-party__equipment-txt {
  max-height: 0;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
  display: flex;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 5px;
}
.top-party__equipment-btn:hover .top-party__equipment-txt {
  max-height: 20rem;
}
.top-party__equipment-btn-img {
  min-width: 25px;
  max-height: 25px;
}
.top-party__btn-img {
  display: block;
  margin: auto;
}
.top-party__items {
  display: flex;
  justify-content: center;
}
.top-party__sound-engineers {
  margin: 0 0 0 137px;
}
.top-party__sound-title {
  font-family: "Gotham Pro", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.top-party__sound-producer {
  min-width: 196px;
  margin: 50px 0 0 0;
}
.top-party__sound-producer:nth-child(-n+1) {
  margin: 50px 24px 0 0;
}
.top-party__producers {
  display: flex;
  justify-content: space-between;
}
.top-party__img {
  max-width: 196px;
  min-height: 210px;
}
.top-party__producer-names {
  font-family: "Gotham Pro", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 30px 0 0 0;
}
.top-party__social-links {
  margin: 25px 0 0 0;
  display: flex;
  justify-content: center;
}
.top-party__links {
  min-width: 40px;
  min-height: 40px;
  border-radius: 5px;
  border: 2px solid #D5621D;
  transition: background-color 0.15s ease-in;
}
.top-party__links:hover {
  background: #D5621D;
}
.top-party__links:nth-child(-n+1) {
  margin: 0 25px 0 0;
}
.top-party__links-img {
  display: block;
  margin: auto;
}

.contacts {
  margin: 150px 0 0 0;
}
.contacts__container {
  max-width: 1356px;
  margin: 0 auto;
  padding: 0 30px;
}
.contacts__item-elements {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.contacts__board {
  max-height: 656px;
  min-width: 416px;
  padding: 50px;
  margin: 0 24px 0 0;
  background: rgba(213, 98, 29, 0.1);
  border-radius: 7px;
  border: 2px solid #D5621D;
  font-family: "Gotham Pro", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.contacts__title {
  font-family: "Gotham Pro", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 20px 0;
}
.contacts__txt-margin-bottom {
  margin: 0 0 45px 0;
}
.contacts__txt-margin-top {
  margin: 45px 0 0 0;
}
.contacts__txt {
  margin: 0 0 35px 0;
  font-family: "Stolzl", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.contacts__map iframe {
  min-width: 856px;
  max-height: 656px;
  border: 2px solid #D5621D;
  border-radius: 5px;
}

.footer {
  font-family: "Stolzl", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.5;
  margin: 100px 0 0 0;
}
.footer__container {
  max-width: 1356px;
  margin: 0 auto;
  padding: 0 30px;
}
.footer__elements {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}

.poster {
  margin: 55px 0 0 0;
}
.poster__container {
  max-width: 1356px;
  margin: 0 auto;
  padding: 0 30px;
}
.poster__items-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 1296px;
  margin: 80px 0 0 0;
  gap: 24px;
}
.poster__item-image {
  position: relative;
  min-width: 306px;
  z-index: 1;
}
.poster__data {
  width: 174px;
  height: 35px;
  padding: 8px 15px;
  font-family: "Gotham Pro", serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #D5621D;
  border-radius: 5px;
}
.poster__name-event {
  font-family: "Gotham Pro", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 15px 0 0 0;
}
.poster__salary-btn {
  font-family: "Gotham Pro", serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  width: 84px;
  height: 38px;
  padding: 7px 10px;
  border: 2px solid #D5621D;
  border-radius: 5px;
  transition: all 0.5s ease 0s;
  color: #fff;
  margin: 15px 0 0 0;
}
.poster__salary-btn:hover {
  background: #D5621D;
  transform: scale(1.5);
}
.poster__inf {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 188px 0 0 35px;
}
.poster__item-image:hover .poster__inf {
  background: rgba(33, 14, 9, 0.9);
  opacity: 1;
}
.poster__item-image .poster__inf {
  opacity: 0;
  min-height: 355px;
  font-size: 1rem;
  height: 100%;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.cooperation {
  margin: 55px 0 0 0;
}
.cooperation__container {
  max-width: 1356px;
  margin: 0 auto;
  padding: 0 30px;
}
.cooperation__items {
  margin: 100px 0 0 0;
}
.cooperation__name {
  font-family: "Gotham Pro", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.cooperation__row {
  display: flex;
  justify-content: center;
  margin: 80px 0 100px 0;
}
.cooperation__column:nth-child(1) {
  margin: 0 64px 0 0;
}
.cooperation__img {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto;
}
.cooperation__img-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.cooperation__cooperation-txt {
  margin: 40px 0 0 0;
  max-width: 340px;
  font-family: "Stolzl", regular, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}
.cooperation__list {
  max-width: 620px;
  display: block;
  margin: 60px auto 0;
  font-family: "Stolzl", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
}
.cooperation__list-item {
  list-style-image: url(../img/icons/list-marker.svg);
  padding-inline-start: 1ch;
}
.cooperation__list-item:nth-child(-n+4) {
  margin: 0 0 20px 0;
}

.gallery {
  margin: 55px 0 0 0;
}
.gallery__container {
  max-width: 1356px;
  margin: 0 auto;
  padding: 0 30px;
}
.gallery__items-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 1296px;
  margin: 80px 0 0 0;
  gap: 24px;
}
.gallery__item-image {
  position: relative;
  min-width: 306px;
  z-index: 1;
}
.gallery__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.gallery__img-search {
  transition: all 0.3s ease;
}
.gallery__wrapper:hover .gallery__img-search {
  transform: scale(2);
}
.gallery__item-image:hover .gallery__wrapper {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}
.gallery__item-image .gallery__wrapper {
  opacity: 0;
  min-height: 355px;
  font-size: 1rem;
  height: 100%;
  transition: all 0.3s ease;
  color: #fff;
}
.gallery__lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0, 1);
  transition: transform 400ms ease-in;
  transform-origin: right;
  padding: 2em;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  background: rgba(0, 0, 0, 0.83);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.gallery__lightbox-content {
  width: 30%;
  padding: 1em;
  position: relative;
}
.gallery__lightbox-image {
  margin-bottom: 1em;
}
.gallery__lightbox-title {
  font-family: "Gotham Pro", serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 10px 0 0 0;
}
.gallery__lightbox-body {
  font-family: "Stolzl", serif;
  font-weight: 400;
  font-size: 23px;
  color: #FFFFFF;
}
.gallery__lightbox-image {
  width: 100%;
  display: block;
}
.gallery__lightbox:target {
  transform: scale(1, 1);
  transform-origin: left;
}
.gallery__close {
  position: absolute;
  right: -2em;
  top: -2em;
  border: #D5621D 2px solid;
  display: flex;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}
.gallery__close:hover {
  background: #D5621D;
  transform: scale(1.5);
}
.gallery__close-img {
  max-width: 30px;
}
.gallery__icon-img {
  width: 100%;
  display: block;
  margin: auto;
}
.gallery__prev-btn {
  position: absolute;
  left: -10em;
  top: 40%;
  display: flex;
  width: 2em;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}
.gallery__next-btn {
  position: absolute;
  right: -10em;
  top: 40%;
  display: flex;
  width: 2em;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}
.gallery__prev-btn:hover {
  transform: scale(1.5);
}
.gallery__next-btn:hover {
  transform: scale(1.5);
}
.gallery__btn-direction {
  width: 100%;
  display: block;
  margin: auto;
}

/*# sourceMappingURL=main.css.map */
